<div class="login">
  <div class="login-box card">
    <div class="card-body">
      <form [formGroup]="form" class="form-horizontal form-material" id="loginform">
        <div class="m-b-20">
          <h3>
            <i class="fa fa-arrow-left cursor-pointer" title="Volver" routerLink="/login"></i>
            Recuperar Contraseña
          </h3>
          <p class="text-muted">Ingresa el código de verificación que se envió a tu correo</p>
        </div>

        <div class="form-group">
          <app-control-messages [control]="form.get('code')">
            <input formControlName="code" class="form-control" type="text" required placeholder="Código">
          </app-control-messages>
        </div>

        <div class="form-group">
          <app-control-messages [control]="form.get('password')">
            <input formControlName="password" class="form-control" type="password" required placeholder="Contraseña Nueva">
          </app-control-messages>
        </div>

        <div class="form-group">
          <app-control-messages [control]="form.get('password_confirmation')">
            <input formControlName="password_confirmation" class="form-control" type="password" required placeholder="Confirmar Contraseña">
          </app-control-messages>
        </div>

        <div class="text-danger" *ngIf="form.getError('notEquals')">
          Las contraseñas no son iguales
        </div>

        <div class="text-danger" *ngIf="error">
          {{error}}
        </div>

        <div class="form-group text-center mt-4">
          <div class="col-xs-12 p-b-20">
            <button [disabled]="isLoading" class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit" (click)="recoveryPassword()">
              <i *ngIf="isLoading" class="fa fa-spinner fa-spin mr-2"></i>
              Restablecer Contraseña
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
