<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between align-items-center mb-2 module-title">
            <div>
              <h3 class="card-title mb-3 font-weight-bold">
                <i class="mdi mdi-account-multiple"></i> Gestión de Usuarios
              </h3>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group  col-md-12 text-right">
              <button (click)="onClickForm()" type="button" class="btn btn-primary" title="Registrar nuevo usuario">
                <i class="fa fa-plus"></i> Nuevo
              </button>
            </div>
          </div>

          <perfect-scrollbar>
            <div class="table-container">
              <table class="table table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Tipo de documento</th>
                    <th scope="col" class="text-left">N° de documento</th>
                    <th scope="col" class="text-left">Nombres</th>
                    <th scope="col" class="text-left">Apellidos</th>
                    <th scope="col" class="text-center">Rol</th>
                    <th scope="col" class="text-left">Cine asignado</th>
                    <th scope="col" class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container>
                    <tr *ngFor="let user of users.data; let i = index">
                      <td class="text-center">{{ i + 1 }}</td>
                      <td class="text-center">{{ user.document_type_name }}</td>
                      <td class="text-left">{{ user.document_number }}</td>
                      <td class="text-left">{{ user.name }}</td>
                      <td class="text-left">{{ user.lastname }}</td>
                      <td class="text-center">{{ user.role_display_name }}</td>
                      <ng-container *ngIf="user.role!=Roles.SUPER_ADMIN">
                        <td class="text-left">{{ user.headquarter_name }}</td>
                        <td class="text-center">
                            <div class="d-flex justify-content-between align-items-center">
                              <button class="btn btn-warning btn-sm mr-1" (click)="onClickEdit(user)">
                                <i class="fa fa-edit"></i>
                              </button>
                              <ui-switch size="small" [(ngModel)]="user.status" (change)="onUpdateStatus(user.id)">
                              </ui-switch>
                              <button class="btn btn-danger btn-sm" title="Eliminar Usuario"
                                (click)="onClickDelete(user.id)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </div>
                        </td>
                      </ng-container>
                      <ng-container *ngIf="user.role==Roles.SUPER_ADMIN">
                        <td colspan="5"></td>
                      </ng-container>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>

            <ng-container>
              <p class="text-center" *ngIf="users.data?.length < 1">No se encontraron resultados</p>
            </ng-container>
          </perfect-scrollbar>
          <div class="row justify-content-end pr-4">
            <pagination [totalItems]="users.meta?.total" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
              nextText="Siguiente" previousText="Anterior">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
