<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between align-items-center mb-2 module-title">
                        <div>                            
                            <h3 class="card-title mb-3 font-weight-bold">
                                <i class="mdi mdi-city"></i> Gestión de ciudades
                            </h3>  
                        </div>                      
                    </div>

                    <div class="form-row">
                        <div class="form-group  col-md-12 text-right">
                            <button (click)="onClickForm()" type="button" class="btn btn-primary" title="Registrar ciudad">
                                <i class="fa fa-plus"></i> Nuevo
                            </button>
                        </div>
                      </div>   
                      
                    <perfect-scrollbar class="scroll">
                        <div class="table-container">
                            <table class="table table-hover text-center">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">#</th>
                                        <th scope="col" class="text-left">Nombre</th>
                                        <th scope="col" class="text-left">Proyecto</th>
                                        <th scope="col" class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container>
                                        <tr *ngFor="let city of cities.data; let i = index">
                                            <td class="text-center">{{ i + 1 }}</td>
                                            <td class="text-left">{{ city.name }}</td>
                                            <td class="text-left">{{ city.trade_display_name }}</td>
                                            <td class="text-center">
                                                <button class="btn btn-danger btn-sm" title="Eliminar ciudad"
                                                    (click)="onClickDelete(city.id)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>

                        <ng-container>
                            <p class="text-center" *ngIf="cities.data?.length < 1">No se encontraron resultados</p>
                        </ng-container>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
</div>