<div class="card mb-0">
  <div class="card-body">
    <div class="page-header mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <div class="">
          <h3>{{genre ? 'Editar' : 'Crear'}}</h3>
        </div>
        <div class="">
          <button class="close pull-right" (click)="bsModalRef.hide()">
            <span aria-hidden="true"> <i class="mdi mdi-close"></i></span>
          </button>
        </div>
      </div>
    </div>
    <div class="row" [formGroup]="form">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Nombre</label>
          <app-control-messages [control]="form.get('name')">
            <input class="form-control" id="name" formControlName="name">
          </app-control-messages>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="short">Abreviatura</label>
          <app-control-messages [control]="form.get('short')">
            <input class="form-control" id="short" formControlName="short">
          </app-control-messages>
        </div>
      </div>
      <div class="col-md-12 text-right">
        <button class="btn btn-primary mr-2" (click)="onClickSave()">Guardar</button>
      </div>
    </div>
  </div>
</div>